$odd-color: #1B1F21;
$even-color: $tabs-background;
$header-height:35px;

.quick-table-wrap{
	width:97%;height:86%;
	margin:auto;
}

.quick-table{
	
	position:relative;
	width:100%;height:100%;overflow:hidden;
	border:1px solid #08090A;
	font-size:13px;

	.row{
		display:flex;
		.column{
			flex:1;
			padding:6px;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    overflow:hidden;
		    color: $regular-color;
		    border:1px solid #08090A;border-width: 0px 0px 0px 1px;

		    &:first-child{border-left-width: 2px; border-left-color: transparent}
		}

		&:nth-child(even){background-color:$even-color;}
		&:nth-child(odd){background-color:$odd-color;}

	}

	.thead{
		&.row{background:$main-btn-color-hover;}
		.column{
			color:$click-color;border-bottom-width: 2px;
			text-transform:capitalize;font-family:helvetica bold;cursor:pointer;
			line-height:19px;

			&.selected{color:$selected-color;}
			&.scroll-td{width:26px;max-width:26px;border-left-color:transparent;text-align:center;cursor:auto}
		}

	}

	.tbody{
		height: calc(100% - #{$header-height});
		overflow:scroll;overflow-x:hidden;background:$odd-color;
		.column{
			&.scroll-td{width:13px;max-width:13px;border-left-color:transparent;}
		}
	}

	.loading{
		position:absolute;left:0px;top:0px;width:100%;height:100%;
		margin-top:33px;background-color:rgba(0,0,0,0.5);

		img{position:absolute;top:50%;margin-top:-10px;left:50%;margin-left:-44px;}
	}
	
	.search{
		input{
			width:80px;
			outline:none;border-width:0px 0px 1px 0px;
		    background-color: transparent;
		    border-color: $click-color;
		    color:$click-color;
	    }
	    i{font-size:13px;}
	    .icon-X_CLEAR{font-size:10px;}

	    &.selected, &.selected *{color:$selected-color}
	}
	
	/*widths. not dynamic, its cost performance*/
	.crud{flex:0.33 !important}
	.flex2{flex:2 !important}
	.flex3{flex:3 !important}
	.flex4{flex:4 !important}

	
	/*uncomment if you wish to use non-iconmoon icons
	i{font-size:14px !important;}
	.icon-Tringle_Up{font-size:10px !important;&:before{content: "▲"}}
	.icon-Tringle_Down{font-size:10px !important;&:before{content: "▼"}}
	.icon-Search:before{content: "⌕";}
	.icon-X_CLEAR:before{content: "✖";}
	.icon-uniE622:before{content: "✚";}
	.icon-edit_icon:before{content: "✎";}
	.icon-Trash:before{content: "⌀";}
	.icon-maximize:before{content: "⇱";}
	.icon-minimize:before{content: "⇲";}
	.icon-Export:before{content: "⎙";}
	.icon-threedots:before{content: "⌆";}
	*/
}



/*table options dropdown - can also be used without table*/

.table-options{
	position:absolute;right:8px;top:36px;
	text-align:left;
	font:13px helvetica;
	color: $regular-color;

	padding:8px;
	border: 1px solid $regular-color;
    border-bottom: 3px solid $regular-color;
    border-radius: 5px;
    border-top-right-radius:0px;
    background-color: #282D33;
    

	&:after, &:before {
		bottom: 100%;
		right: -1px;
		border: solid transparent;
		content: " ";
		position: absolute;
		pointer-events: none;
	}

	&:before {
		border-color: transparent;
		border-bottom-color: $regular-color;
		border-width: 14px;
		border-right-width:0px;
	}

	&:after {
		border-color: transparent;
		border-bottom-color: #282D33;
		border-width: 11px;
		border-right-width:0px;
		margin-right:1px;
	}

	.table-options-link{
		margin:8px;
		display:block;
		i{margin-right:6px;}
	}

   .table-options-col{
	   	padding: 0 .5em 0 .5em;
	    border-bottom: 1px solid #3A3D42;
	    color: #81878C;
	    cursor:pointer;
	    font-family: "Helvetica Bold";
	    white-space: nowrap;
	    line-height: 40px;
	    &.selected, &:hover{
	    	color:$selected-color;
	    	i{opacity:1;}
	    }
    	&:last-child{border-bottom-width:0px}
    	i{float:right;opacity:0;margin-left:20px;}
   	}

   	.icon-Export{font-size:14px;}
	.icon-minimize, .icon-maximize{font-size:8px;}
}

